*.class
#
# # Mobile Tools for Java (J2ME)
# .mtj.tmp/

# # Package Files #
*.jar
# *.war
# *.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore follwoing for netbeans IDE
/nbproject/

# For Intellij  (JetBrains) #
.idea/
*.iml
*.iws

# Ignore server files - if implemented.
/AdX/src/test/
/Adx/adx-agent/logs/
/AdX/adx-server/infodb/
/AdX/adx-server/logs/
/AdX/adx-server/*.sim1.slg

# Ignore compiled data
/out/
/target/

# ignore eclipse files 
.classpath